<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="trial" connectionString="data source=media.ruppin.ac.il; database=igroup10_prod; user id=igroup10; password=igroup10_73888" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PayPalAPISoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="PayPalAPIAASoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="PayPalAPISoapBinding1"/>
        <binding name="PayPalAPIAASoapBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.sandbox.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPISoapBinding" contract="ServiceReference1.PayPalAPIInterface" name="PayPalAPI"/>
      <endpoint address="https://api-aa.sandbox.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPIAASoapBinding" contract="ServiceReference1.PayPalAPIAAInterface" name="PayPalAPIAA"/>
    </client>
  </system.serviceModel>
</configuration>